*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(145deg, rgb(255, 196, 0), rgb(226, 174, 3));
  margin: 50px auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

body h1 {
  font-family: 'Trebuchet MS', sans-serif;
}

.input-container {
  background-color: black;
  padding: 23px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 60%;
}

.input-container input {
  padding: 7px;
  border-radius: 5px;
  border-style: none;
  font-family: 'Trebuchet MS', sans-serif;
  width: 120%;
}

.input-container button {
  padding: 8px 10px;
  border-radius: 3px;
  border-style: none;
  font-family: 'Trebuchet MS', sans-serif;
  cursor: pointer;
}

.result-container {
  color: white;
  font-family: 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.years,
.months,
.days {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  width: 25%;
}

p.years-bold,
p.months-bold,
p.days-bold {
  margin: 0;
  font-weight: 700;
  font-size: 1.3rem;
}

p.years-p,
p.months-p,
p.days-p {
  margin: 0;
  font-size: 0.7rem;
}

.zodiac-container {
  background-color: black;
  padding: 23px;
  border-radius: 6px;
  color: white;
  font-family: 'Trebuchet MS', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

.details h4 {
  font-size: 1.3rem;
}

.details ul li {
  font-size: 0.9rem;
  text-align: justify;
}

.zodiac-image {
  padding: 20px;
  width: fit-content;
}

.zodiac-image img {
  border-radius: 50%;
  width: 120%;
}

.history-container {
  background-color: black;
  padding: 23px;
  border-radius: 6px;
  color: white;
  font-family: 'Trebuchet MS', sans-serif;
  width: 100%;
}

.history-cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#clearHistoryBtn {
  padding: 8px 10px;
  border-radius: 3px;
  border-style: none;
  font-family: 'Trebuchet MS', sans-serif;
  cursor: pointer;
}
/* Media queries */
@media (max-width: 428px) {
  .input-container {
    width: 120%;
  }

  .input-container input {
    width: 50%;
  }

  .zodiac-container {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .zodiac-image {
    padding: 20px;
    width: 50%;
  }

  .details ul li {
    font-size: 1rem;
    text-align: left;
  }
}

@media (max-width: 320px) {
  .input-container {
    width: 100%;
  }

  .input-container input {
    width: 50%;
  }

  .zodiac-container {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .zodiac-image {
    padding: 20px;
    width: 60%;
  }

  .details ul li {
    font-size: 1.1rem;
    text-align: left;
  }
}
